.section {
  /* background: url(/images/lavender-stars.svg) no-repeat center center;
  background-size: cover; */
}
.container {
  display: flex;
  align-items: center;
  flex-flow: column;
}
.imgContainer {
  flex: 50%;
  text-align: center;
}
.title {
  display: none;
}
.textContainer {
  flex: 50%;
  background-color: var(--darkBG);
  border-radius: 10px;
  padding: 1rem 0.8rem;
}
.textContainer p {
  font-size: 1.15rem;
  margin: auto;
  margin-bottom: 1.3rem;
  line-height: 140%;
  padding: 0 1rem;
  border-radius: 10px;
  max-width: 630px;
}
.textContainer div {
  width: 80%;
  margin: 0 auto;
}
.textContainer div h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  font-weight: bold;
}

.tradeBtn {
  border: none;
  border-radius: 10px;
  max-width: 280px;
  width: 100%;
  height: 36px;
  font-size: 1rem;
  display: block;
  background: linear-gradient(to right, #d0c1b5 50%, #bfa38a 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
  margin: auto;
  color: var(--mainBGColor);
}
.tradeBtn:hover {
  background-position: left bottom;
  color: var(--mainBGColor);
}

@media (min-width: 640px) {
  .title {
    display: block;
    margin-bottom: 1rem;
  }
  .titleXS {
    display: none;
  }
  /* .textContainer p {
    font-size: 1.15rem;
    margin: auto;
    margin-bottom: 2.25rem;
    line-height: 140%;
    padding: 1.5rem 1rem;
    border-radius: 10px;
    max-width: 630px;
  } */

  .tradeBtn {
    width: 280px;
    height: 55px;
    font-size: 1rem;
    font-weight: bold;
  }
}
@media (min-width: 769px) {
  .container {
    flex-flow: row;
  }
}
