.btn-outline-secondary:hover {
    color: #fff !important;
    background-color: #5E35B1 !important;
    border-color: #5E35B1 !important;
}

.btn-outline-secondary {
    color: #5E35B1 !important;
    border-color: #5E35B1 !important;
}

.modal-content-transefer{
    background: none !important;
    border: none !important;
}