.btn-outline-secondary:hover {
  color: #fff !important;
  background-color: #5e35b1 !important;
  border-color: #5e35b1 !important;
}

.btn-outline-secondary {
  color: #5e35b1 !important;
  border-color: #5e35b1 !important;
}

.modal-content-transefer {
  background: none !important;
  border: none !important;
}
