.section {
  padding: 7rem 2rem;
}
.mainContainer {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  align-items: center;
  max-width: 1071px;
}
.stepsContainer {
  min-width: 200px;
}
.stepsList {
  list-style: none;
  max-width: 160px;
}
.descriptionContainer {
}
.itemTitle {
  text-align: start;
}
.itemSubtitle {
  color: #65a6a6;
  text-align: start;
}
.itemDescription {
  color: #fcf5ed;
  text-align: start;
  font-size: 1.1rem;
}
.item {
  max-width: 320px;
  background: linear-gradient(to bottom, #bfa38a, #fcf5ed);
  padding: 2px;
  border-radius: 1.875rem;
  opacity: 0;
  width: 0;
  height: 0;
  transition: opacity 1s;
  overflow: hidden;
  margin: 0;
}
.activeSection {
  opacity: 1;
  width: auto;
  height: auto;
  transition: all .8s;
}
.innerItem {
  background: var(--darkBG);
  border-radius: 1.875rem;
  padding: 2.0625rem 2rem;
}
.roadMapItem {
  position: relative;
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  background-position: center;
  border-inline-start: 2.5px solid #bfa38a;
  margin-bottom: 1.2rem;
  padding: 0.5rem;
  cursor: pointer;
}
.activeItem * {
  color: var(--green);
  transform: translateX(25px);
  transition: transform 0.3s;
}
@media (min-width: 769px) {
  .mainContainer {
    min-width: 600px;
    flex-flow: row;
  }
}
@media (min-width: 1440px) {
  .mainContainer {
    min-width: 800px;
  }
}
