.tl_select {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.newBtn > [type="button"]:not(:disabled),
.newBtn > [type="reset"]:not(:disabled),
.newBtn > [type="submit"]:not(:disabled),
.newBtn > button:not(:disabled)
 {
  cursor: pointer;
  width: 100%;
  background-color: transparent;
  border-radius: 6px;
  border: 1px solid var(--dexpressoPrimery);
}
.btn-check:active + .btn-success:focus,
.btn-check:checked + .btn-success:focus,
.btn-success.active:focus,
.btn-success:active:focus,
.show > .btn-success.dropdown-toggle:focus {
  box-shadow: var(--dexpressoPrimery);
}
.btn-check:active + .btn-primary:focus,
.btn-check:checked + .btn-primary:focus,
.btn-primary.active:focus,
.btn-primary:active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: var(--dexpressoPrimery);
}
.btn-check:focus + .btn-primary,
.btn-primary:focus {
  box-shadow: var(--dexpressoPrimery);
}
.btn-check:active + .btn-primary,
.btn-check:checked + .btn-primary,
.btn-primary.active,
.btn-primary:active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: var(--dexpressoPrimery);
  border-color: var(--dexpressoPrimery);
}
.tl_select div:nth-child(1) {
  border: 1px solid var(--dexpressoPrimery);
  width: 240px;
  background-color: transparent;
  padding: 6px 15px;
  border-radius: 6px;
}
.dropdown-menu {
  width: 100%;
  text-align: center;
  background-color: #100c22;
  border-radius: 0 0 10% 10%;
  border: 1px solid var(--dexpressoPrimery);
}
.dropdown-item.active,
.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: var(--dexpressoPrimery);
}
.dropdown-item {
  color: #fff;
  border-bottom: 1px solid var(--dexpressoPrimery);
}
.dropdown-item:last-child {
  border-bottom: none ;
}

.tl_select select {
  width: 100%;
  background-image: url("../../../../assets/icons/select-arrow.png");
  color: var(--dexpresssoTextPrimery);
  border: none;
  display: flex;
  font-size: 0.8rem;
  font-weight: 600;
  align-items: center;
  justify-content: space-between;
  outline: none;
  background-color: transparent;
  background-size: 8px 6px;
  background-repeat: no-repeat;
  appearance: none;
  background-position: right;
}

.spot_play {
  display: flex;
  align-items: center;
}

.spot_play img {
  margin-right: 8px;
}

.spot_play span {
  color: white;
}

@media screen and (max-width: 425px) {
  .tl_select div:nth-child(1) {
    width: 100%;
  }
}
