.section {
    min-height: 500px;
}
.mainContainer {
    display: flex;
    justify-content: center;
}
.netItem {
    min-width: 200px;
    min-height: 150px;
    border-radius: 50px;
    border: 2px solid rgb(var(--mainColorRgb) , 0.7);
    background-color: var(--darkBG);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 13px;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
}