* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --dexpressoPrimery: #0a82b6;
  --dexpressoHeader: #050f1e;
  --dexpressoBackground: #071428;
  --dexpressoTableBackground: #14243c;
  --dexpresssoTextPrimery: #b2bfc7;
  --dangerColor: 140, 41, 32;
  --successColor: 0, 123, 95;
  --neutralColor: 252, 245, 237;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
}

body {
  height: 100vh;
  color: rgba(var(--neutralColor), 1);
  background-color: #100c22;
  font-size: 16px;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
}

html {
  font-size: 16px;
}

.up_value {
  color: #3fe199 !important;
}

.down_value {
  color: #c4384e !important;
}

.trade-price-active-tab {
  color: var(--dexpressoPrimery) !important;
}

.zig-dropdown .rc-dropdown-menu > .rc-dropdown-menu-item {
  font-size: 18px;
  padding: 15px;
  cursor: pointer;
}

@media screen and (min-width: 1800px) {
  html {
    font-size: 18px;
  }
}

/* WalletConnect customization */
.walletconnect-modal__base div:nth-child(3) {
  /* overflow-y: scroll; */
}
.active_link {
  position: relative;
  color: #fff !important;
}
.MuiDrawer-paper {
  border-radius: 0 !important;
  border-right: 0 !important;
}
.MuiDrawer-paper h5 {
  padding: 15px;
  position: relative;
}
.MuiDrawer-paper i {
  position: absolute;
  top: 9px;
  right: 24px;
}
@media (max-width: 899.95px) {
  .MuiDrawer-paper {
    width: 100%;
  }

  .css-1ivgbss {
    width: 100% !important;
  }
}
