* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --dexpressoPrimery: #0a82b6;
  --dexpressoHeader: #050f1e;
  --dexpressoBackground: #071428;
  --dexpressoTableBackground: #14243c;
  --dexpresssoTextPrimery:#B2BFC7;
  --dangerColor: 140, 41, 32;
  --successColor: 0, 123, 95;
  --neutralColor: 252, 245, 237;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
}

body {
  height: 100vh;
  font-size: 0.9rem;
  color: rgba( var(--neutralColor), 1);
}

html {
  font-size: 16px;
}

.up_value {
  color: #3fe199 !important;
}

.down_value {
  color: #c4384e !important;
}

.trade-price-active-tab {
  color: var(--dexpressoPrimery) !important;
}

.zig-dropdown .rc-dropdown-menu > .rc-dropdown-menu-item {
  font-size: 18px;
  padding: 15px;
  cursor: pointer;
}

.zig-dropdown .rc-dropdown-menu > .rc-dropdown-menu-item:hover,
.zig-dropdown .rc-dropdown-menu > .rc-dropdown-menu-item-active,
.zig-dropdown .rc-dropdown-menu > .rc-dropdown-menu-item-selected {
  background-color: #c0cff8;
  color: #43f;
}

@font-face {
  font-family: "Iceland";
  src: url("./assets/fonts/Iceland.woff2") format("woff2"),
    url("./assets/fonts/Iceland.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@media screen and (min-width: 1800px) {
  html {
    font-size: 18px;
  }
}

/* WalletConnect customization */
.walletconnect-modal__base div:nth-child(3) {
  overflow-y: scroll;
}
