.section {
    padding-left: 0;
    padding-right: 0;
    min-height: 500px;
}
.container {
    width: 100%;
    position: relative;
}
.text {
    font-size: 2rem;
    text-transform: capitalize;
    position: absolute;
    bottom: -2.5rem;
    left: 10%;
    z-index: 3;
    text-align: start;
    line-height: 2.6rem;
    font-weight: 800;
}
.mobile {
    position: relative;
    right: 0;
    left: auto;
    float: right;
    z-index: 2;
}
.desktop {
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    bottom: 0;
}